*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
main{
    width:80%;
    margin:auto;
    max-width: 1500px;
    background-color: white;
}

section{
    display:grid;
    grid-template-columns: 1fr;
}
.valaszok{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    background: white;
    text-align: center;
    
}
#teszt-valaszto{
    margin:9px;
}
.sor{
    padding-bottom:30px;
}
.valaszok>div{
    border:1px solid gray;
    margin:3px;
    color:saddlebrown;
    border-radius: 3px;
}
.kerdes{
    background-color:saddlebrown;
    color:white;
    border-radius: 5px;
    padding:8px 3px 8px 3px;
}
@media only screen and (max-width: 500px) {
    main {
        width:97%;
      
    }
    .valaszok{
        grid-template-columns: 1fr;
    }

}